/*
 * Skin Name: Orman Theme
 * Skin Type: fixed
 * Image Width: 568
 * Image Height: 268
 * Description: A light and green skin for the Nivo Slider.
 * Version: 1.0
 * Author: Edgar Gonzalez (originally by Gilbert Pellegrom & Orman Clark)
 * Author URI: http://ramblinglabs.com
 */

.theme-orman.slider-wrapper {
  background: url(../images/themes/orman/slider.png) no-repeat;
  width: 722px;
  height: 337px;
  margin: 0 auto;
  padding-top: 18px;
  position: relative;
}

.theme-orman {
  .ramblingSlider {
    position: relative;
    width: 568px;
    height: 268px;
    margin-left: 77px;
    background: url(../images/themes/orman/loading.gif) no-repeat 50% 50%;

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
      width: 568px;
      height: 268px;
    }

    a {
      border: 0;
      display: block;
    }

    .rambling-controlNav {
      position: absolute;
      left: 50%;
      bottom: -60px;
      margin-left: -30px;

      a {
        display: block;
        width: 10px;
        height: 10px;
        background: url(../images/themes/orman/bullets.png) no-repeat;
        text-indent: -9999px;
        border: 0;
        margin-right: 7px;
        float: left;

        &.active {
          background-position: 0 -10px;
        }
      }
    }

    .rambling-directionNav a {
      display: block;
      width: 25px;
      height: 200px;
      background: url(../images/themes/orman/arrows.png) no-repeat 0% 50%;
      text-indent: -9999px;
      border: 0;
      top: 40px;
    }

    a.rambling-nextNav {
      background-position: 100% 50%;
      right: -40px;
      padding-right: 20px;
    }

    a.rambling-prevNav {
      left: -40px;
      padding-left: 20px;
    }

    .rambling-caption {
      font-family: Helvetica, Arial, sans-serif;

      a {
        color: #ffffff;
        border-bottom: 1px dotted #ffffff;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

  .ribbon {
    background: url(../images/themes/orman/ribbon.png) no-repeat;
    width: 111px;
    height: 111px;
    position: absolute;
    top: -3px;
    left: 56px;
    z-index: 300;
  }
}
