/*
 * Skin Name: Orman Theme
 * Skin Type: fixed
 * Image Width: 568
 * Image Height: 268
 * Description: A light and green skin for the Nivo Slider.
 * Version: 1.0
 * Author: Rambling Labs (originally by Gilbert Pellegrom & Orman Clark)
 * Author URI: http://ramblinglabs.com
 */
.theme-orman.slider-wrapper {
  background: url(slider.png) no-repeat;
  width: 722px;
  height: 337px;
  margin: 0 auto;
  padding-top: 18px;
  position: relative; }

.theme-orman .ramblingSlider {
  position: relative;
  width: 568px;
  height: 268px;
  margin-left: 77px;
  background: url(loading.gif) no-repeat 50% 50%; }
  .theme-orman .ramblingSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 568px;
    height: 268px; }
  .theme-orman .ramblingSlider a {
    border: 0;
    display: block; }
  .theme-orman .ramblingSlider .rambling-controlNav {
    position: absolute;
    left: 50%;
    bottom: -60px;
    margin-left: -30px; }
    .theme-orman .ramblingSlider .rambling-controlNav a {
      display: block;
      width: 10px;
      height: 10px;
      background: url(bullets.png) no-repeat;
      text-indent: -9999px;
      border: 0;
      margin-right: 7px;
      float: left; }
      .theme-orman .ramblingSlider .rambling-controlNav a.active {
        background-position: 0 -10px; }
  .theme-orman .ramblingSlider .rambling-directionNav a {
    display: block;
    width: 25px;
    height: 200px;
    background: url(arrows.png) no-repeat 0% 50%;
    text-indent: -9999px;
    border: 0;
    top: 40px; }
  .theme-orman .ramblingSlider a.rambling-nextNav {
    background-position: 100% 50%;
    right: -40px;
    padding-right: 20px; }
  .theme-orman .ramblingSlider a.rambling-prevNav {
    left: -40px;
    padding-left: 20px; }
  .theme-orman .ramblingSlider .rambling-caption {
    font-family: Helvetica, Arial, sans-serif; }
    .theme-orman .ramblingSlider .rambling-caption a {
      color: #ffffff;
      border-bottom: 1px dotted #ffffff; }
      .theme-orman .ramblingSlider .rambling-caption a:hover {
        color: #ffffff; }
.theme-orman .ribbon {
  background: url(ribbon.png) no-repeat;
  width: 111px;
  height: 111px;
  position: absolute;
  top: -3px;
  left: 56px;
  z-index: 300; }
